<h1><%= @task.title %></h1><%= link_to "Update", edit_task_path(@task) %>
<h3><%= @task.details %></h3>
<p><input type="checkbox"> This task is not completed</p>
<%= link_to "Delete", task_path(@task), method: :delete %>


<%= link_to "Back to list", tasks_path %>
